*.dbg
*.lps
*.ppu
*.o
*.a
*.so
*.dylib
*.compiled
*.identcache
*.zip
*.exe
*.bak
*.suo
*.ipch
*.db
*.obj
*.idb
*.pdb
*.xls
*.dll
*.ka
*.bin
*.mid
*.mp3
*.sf2
*.Pic
*.wav
*.dcu
*.COM
*.grp
*.idx
*.log
*.tlog
*.enc
*.ilk
*.ttf
*.002
*.sta
*.col
*sdx
*smp
*wdx
*wmp
*.or
*.ctpr
*.ctps
*.aps
*.cfg
*.dof
*.res
*.ddp
*.dat
*.bmp
*.dev
*.layout
*.rar
*.orig
pig3/pig3-c/Debug/
pig3/pig3-c/lib/
pig3/pig3-c/include/
pig3/pig3-c/Release/
pig3/bin/backup/
mods/promise/backup/
abcd/.vs/
mods/promise/lib/__history
mods/promise/__history
*.~dsk
*.local
*.dsk
*.dsv
修改器/abcd/.vs
*.res
*.otares
*.rsm
*.tvsconfig
pig3/bin/lib/backup/*
pig3/pig3Launcher/.svn
pig3/pig3Launcher/.vs
pig3/pig3Launcher/pig3Launcher/bin
pig3/pig3Launcher/pig3Launcher/obj
pig3/pig3Launcher/pig3Launcher/Resources
pig3/pig3Launcher/pig3Launcher/.vs
修改器/other_tools/talkmaker/backup
修改器/other_tools/talkmaker/lib
修改器/other_tools/talkmaker/*.txt
pig3/初始存档生成工具/sfe2/packages
pig3/初始存档生成工具/sfe2/sfeConsole/excel
pig3/初始存档生成工具/~$ranger.xlsx
修改器/abcd/makeRanger/x64
修改器/abcd/abcd/x64
