*.dbg
*.lps
*.ppu
*.o
*.a
*.so
*.dylib
*.bat
*.compiled
*.identcache
*.cmd
*.zip
*.exe
*.bak
*.suo
*.ipch
*.db
*.obj
*.idb
*.pdb
*.xls
*.dll
*.png
*.ka
*.bin
*.mid
*.mp3
*.sf2
*.Pic
*.wav
*.dcu
*.ico
*.COM
*.grp
*.idx
*.log
*.tlog
*.enc
*.ilk
*.ttf
*.002
*.sta
*.col
*sdx
*smp
*wdx
*wmp
*.or
*.ctpr
*.ctps
*.aps
*.cfg
*.dof
*.res
*.ddp
*.dat
*.bmp
*.dev
*.layout
*.rar
*.orig
mods/hugebase/pig3-c/Debug/
mods/hugebase/pig3-c/lib/
mods/hugebase/pig3-c/include/
mods/hugebase/pig3-c/Release/
mods/hugebase/bin/backup/
mods/promise/backup/
abcd/.vs/
mods/promise/lib/__history
mods/promise/__history
*.~dsk
*.local
*.dsk
*.dsv
